extends layout
include mixins/_bookForm

block content
    header.add-book-header
      h1 Add New Book
      h3 Add the title, description and author. Or search for it
    section
      +bookForm
    section
      .search-option
        h3 Can't remember specifics? Try searching instead
          button#search
            a(href=`/search`) Search Books
