include mixins/_bookForm

h1 Add a Book
h3 Do use real details. Otherwise, what's the point?

block content
  .inner
    +bookForm
    section.search-option
      h3 can't remember specifics? Try searching
        button#search
          a(href=`/search`) Search Books
