extends layout
include mixins/_bookForm

block content
    header.add-book-header
      h1 Add New Book
      h3 Add the title, description and author. Or search for it
    section
      if errors
        each error in errors
          p #{error.msg}
      +bookForm
    section
      .search-option
        h3 Can't remember specifics? Try searching instead
          a.btn#search(href=`/search`) Search Books
