extends layout

block content
  section.home-page
    div.home-hero
      h1 Track Your Books

      h2 Read More

    div.explanation
      p So many books out there, who can read them all.
      p Don't bother remembering, just save them here.
      p Remove them when you're done.

    div.tester
      p Try it for free above or register your own user.

      p Or, use the test user below and search for books to read

      p test_user@example.com
      p password1
