extends layout

block content
  section.home-page

    div.image-one

    div.image-two


    div.home-hero
      h1 Beat Tsundoku

    div.grey-block
    
    div.explanation
      h2 tsundoku
      span.thing Japanese (noun), /tsoon: 'doh-koo/'
      p The act of leaving a book unread after purchase, piled up together with all the other unread books.
      br
      p Create your own user, or use the test profile below:      
      br
      p Username: test_user@example.com
      p Password: password1
