extends layout

block content
  section.home-page
    div.home-hero
      h2 Read More. Remember Less.

    div.explanation
      p So many books out there, how do you remember what you wanted to read?
      p Save them here instead.
      p Remove them when you're done.

    div.tester
      p Try it for free above or register your own user.

      p Or, use the test user below and search for books to read

      p test_user@example.com
      p password1
