extends layout

block content
  section.home-page

    div.image-one

    div.image-two


    div.home-hero
      h1 Beat Tsundoku.

    div.grey-block
    
    div.explanation
      h3 tsundoku
      span.thing Japanese (noun), /tsoon: 'doh-koo/'
      p The act of leaving a book unread after buying it, piled up together with other unread books

      p Try it for free or register your own user.

      p If you like, use the test user below and search for books to read

      p test_user@example.com
      p password1
