extends layout

block content
  h1 Love Reading?

  p So many books out there to read, but you don't remember every single one. You tell yourself to remember, but how can you actually read them all.

  Try it yourself for free above. Add a new book if your memory is great and you can remember the title, author etc.
  Or just search for them using Google Books API
  Save the books you want to read

  If you want to create an account, Register, then log in. Try it out with this:

  p test_user@example.com
  p  password1
