doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/dist/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")

    block header
        nav.nav
          section
            ul#menu
              if user
                li.nav-item: a.nav__link(href="/logout") Log Out
                li.nav-item: a.nav__link(href="#") About
              else
                li.nav-item: a.nav__link(href="/register") Register
                li.nav-item: a.nav__link(href="/login") Log In
                li.nav-item: a.nav__link(href="#") About
    body
      .content
        block content
          script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
          script(src='/js/main.js')
