doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/dist/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block header
      header.top
        nav.nav
        .nav__section.nav__section--user
            li.nav__item: a.nav__link(href="/register") Register
            li.nav__item: a.nav__link(href="/login") Log In
    .content
      block content
