extends layout

include mixins/_bookCard

block content
  header.list-header
    h1 Your Reading List
      form(method="get" action="/add-new-book" class="link-to-create")
        button Add a Book
  section.books
    each book in bookList
      +bookCard(book)
