extends layout

include mixins/_bookCard

block content

  .inner
    h2 #{title}
      form(method="get" action="/add-new-book" class="link-to-create")
        button Add a Book
      .books
        each book in book_list
          +bookCard(book)
