extends layout

include mixins/_bookCard

block content
    h2 #{title}
      form(method="get" action="/add-new-book" class="link-to-create")
        button Add a Book
      section.books
        each book in bookList
          +bookCard(book)
