extends layout

block content
    div
      h1 Register a New User
    form.form(action="/register" method="POST" class="register-form")
      div.form-group
        div.form-row
          label(for="email") Email
          input.form-control(type="email" id="email" name="email" required)
        div.form-row
          label(for="name") Password
          input.form-control(type="password" id="password" name="password"  aria-label="password" required)
        div.form-row
          input.register-button(type="submit" value="Register User")
