extends layout

block content
    form(action=`/users/${user._id}/search-results` method="POST" class="user-search-book")
      div.form-group
        div.form-row
          label(for="title") Title:
          input#title.form-control(type="text", placeholder="Small Gods" name="title")
        div.form-row
          button.btn.btn-primary(type="submit" role="submit") Search
