extends layout

include mixins/_bookCard

block content
    section
      div.profile
        p.strong.email #{email}
        p.strong.password #{password}

    script(type='text/javascript').
      localStorage.setItem('token','psuedotoken')

    button.btn.btn-primary
      a(href=`/search`) Add a New Book
    h2 These are the books you'd like to read. Better check them out!
    .books
        each book in user.library
          if book
            +bookCard(book)
