extends layout

include mixins/_bookCard

block content
    section
      div.profile
        p.strong.email #{user.email}
        p.strong.password #{user.password}

    script(type='text/javascript').
      localStorage.setItem('token','psuedotoken')

    div.library-label
      h2 These are the books in your wishlist. Better check them out!
      button
        a(href=`/search`) Add a New Book
    .books
        each book in user.library
          if book
            +bookCard(book)
