extends layout

include mixins/_bookCard

block content
    script(type='text/javascript').
      localStorage.setItem('token','psuedotoken')

    div.library-label
      h1 Your Reading List
      h2 Never forget another book!
      br
      button
        a(href=`/search`) Add a New Book
    .books
        each book in user.library
          if book
            +bookCard(book)
