mixin bookForm(book = {})
  form(method="POST" action="/books" class="add-book-form")
    div.form-group
      div.form-row
        label(for="title") Title:
        input#title.form-control(type="text", placeholder="Small Gods" name="title")
      div.form-row
        label(for="author") Author:
        input#author.form-control(type="text", placeholder="Terry Pratchett" name="author")
      div.form-row
        label(for="summary") Summary:
        textarea#summary.form-control(type="text", placeholder="God is turtle, world is flat" name="summary")
      div.form-row
        button.btn.btn-primary(type="submit" role="submit") Add Book
