mixin bookResult(book = {})
  .search-result
    p.book__hero
    h3 #{book.volumeInfo.title}
    script.
      var x = !{JSON.stringify(book.volumeInfo.imageLinks)}
      if(!x) {
        console.log("poop")
      }
    .book-details
      p #{book.volumeInfo.authors}
      p #{book.volumeInfo.description}
