extends ../layout

mixin editForm(book = {})
  form(method="POST" action=`/books/${book._id}` class="edit-book-form")
    div.form-group
      div.form-row
        label(for="title") Title:
        input#title.form-control(type="text", placeholder=`${book.title}` name="title")
      div.form-row
        label(for="author") Author:
        input#author.form-control(type="text", placeholder=`${book.author}` name="author")
      div.form-row
        label(for="summary") Summary:
        textarea#summary.form-control(type="text", placeholder=`${book.summary}` name="summary")
      div.form-row
          button.btn.btn-primary(type="submit" role="submit") Edit Your Book
