mixin loginForm()
  h1 Login
  form.form(action="/login" method="POST" class="login-form")
    div.form-group
      div.form-row
        label(for="username") Email Address
        input(type="username" name="username")
      div.form-row
        label(for="password") Password
        input(type="password" name="password")
      div.form-row
        input.login-button(type="submit" value="Log In ->")
