mixin loginForm()
  form.form(action="/login" method="POST")
    h2 Login
    label(for="username") Email Address
    input(type="username" name="username")
    label(for="password") Password
    input(type="password" name="password")
    input.button(type="submit" value="Log In ->")
